@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme) prefix(jcp);
@import "tailwindcss/utilities.css" layer(utilities) prefix(jcp);

@theme {
    --color-accent: #ff503e;
}