.jobcapturepro-company-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.5rem 2rem;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    gap: 1.5rem;
}

.jobcapturepro-company-info-text {
    margin-bottom: 0.6rem;
}

.jobcapturepro-company-info-text p {
    margin: 0;
    font-size: 1rem;
    color: #444;
}

.jobcapturepro-company-div-2 p {
    margin: 0;
    font-size: 1rem;
    color: #444;
    display: flex;
    align-items: center;
}

.jobcapturepro-company-div-2 a {
    color: #111;
    text-decoration: none;
}

.jobcapturepro-company-div-2 a:hover {
    text-decoration: underline;
}

.jobcapturepro-company-logo img {
    max-width: 200px;
    height: auto;
    object-fit: contain;
}

.jobcapturepro-company-details {
    flex: 1;
    min-width: 250px;
}

.jobcapturepro-company-name {
    color: #333;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
}

.jobcapturepro-company-address p,
.jobcapturepro-company-contact p {
    margin: 8px 0;
    font-size: 16px;
    color: #555;
}

.jobcapturepro-company-contact a {
    color: #0066cc;
    text-decoration: none;
}

.jobcapturepro-company-contact a:hover {
    text-decoration: underline;
}

.jobcapturepro-no-contact-info {
    color: #999;
    font-style: italic;
}

.jobcapturepro-company-reviews-text p {
    display: flex;
    align-items: center;
    gap: 6px;
}

.jobcapturepro-company-reviews-text p svg {
    width: 18px;
}

.jobcapturepro-company-div-2 {
    display: flex;
}

.jobcapturepro-company-logo {
    text-align: end;
}

.quote-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #ff503e;
    color: #fff;
    font-weight: bold;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 999px;
    transition: background-color 0.2s ease;
}

.quote-btn:hover {
    background-color: #e2353c;
}


@media (max-width: 600px) {
    .jobcapturepro-company-info {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .jobcapturepro-company-logo img {
        max-width: 150px;
    }

    .jobcapturepro-company-div-2 {
        display: block;
    }
}

.jobcapturepro-company-description {
    margin-top: 0.6rem;
}

.jobcapturepro-company-description p {
    margin: 0;
    font-size: 1rem;
    color: #444;
}